.cardChannel {
  text-align: center;
  height: 30rem;
  background-color: white;
  border-radius: 30px;
  box-shadow: 10px 10px #90A4AE;
  overflow: auto;
}

.btn {
  max-width: 50%;
}

.message-channel-1{
  text-align: left;
  color: #F4511E;
  margin-left: 15px;
  margin-right: 15px;
}


.message-channel-2{
  text-align: right;
  color: #00796B;
  margin-right: 30px;
  margin-left: 30px;
}

.Header {
  height: 4.5rem;
  text-align: center;
  position: static;
  background-color: #263238;
  color: white
}

.text-board-messages {
  text-align: center;
}